<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo>
    <plugin name="gazebo_ros_joint_state_publisher"
        filename="libgazebo_ros_joint_state_publisher.so">

      <update_rate>10</update_rate>

      <robotNamespace>"urdf_project_robot"</robotNamespace>
      <joint_name>hand_joint</joint_name>
      <joint_name>forearm_joint</joint_name>
      <frame_id>arm_base_link</frame_id>

    </plugin>
</gazebo>

<gazebo>
    <plugin name="gazebo_ros_joint_pose_trajectory"
        filename="libgazebo_ros_joint_pose_trajectory.so">

      <update_rate>2</update_rate>
      <robotNamespace>"urdf_project_robot"</robotNamespace>
      <joint_name>hand_joint</joint_name>
      <joint_name>forearm_joint</joint_name>
      <frame_id>arm_base_link</frame_id>

    </plugin>
</gazebo>

<gazebo>
    <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <update_rate>50</update_rate>
        <left_joint>left_wheel_joint</left_joint>
        <right_joint>right_wheel_joint</right_joint> 
        <wheel_separation>0.45</wheel_separation>
        <wheel_diameter>0.2</wheel_diameter>
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
        <odometry_topic>odom</odometry_topic>
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_footprint</robot_base_frame>
    </plugin>
</gazebo>

</robot>  